body {
	background-color: #F8FCFF;
}

.header {
	background-color: #005889;
	color: #F8FCFF;
	height: 48px;
	font-family: Roboto;
	font-size: 28px;
	line-height: 33px;
	width: 100%;
	display: flex;
	align-items:center;
	box-sizing:border-box;
}

.logo {
	margin-left: 5%;
}

.search {
	width: 65%;
	display: flex;

}

.search-bar {
	margin-left:18%;
	padding:5px;
	width:48%;
 }

 .search-btn {
 	padding:4px;
 	width:40px;
 	cursor: pointer;
}

.banner {
	margin-top: 5px;
	width: 98%;
	margin-left: 15px;
}

.publish {
	margin-left: -8%;
	text-align: right;
}

.request {
	margin-left: 2%;
	text-align: right;
}

.notification {
	margin-left: 2.2%;
	text-align: right;
}

.member {
	margin-left: 2.2%;
	text-align: right;
}

.cart {
	margin-left: 2.2%;
	text-align: right;
}

.left {
	width: 18%;
	color: #005889;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 33px;
	float:left;
	margin-top: 50px;
	margin-left: 20px;
}

.left p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

/*以下是首頁內容*/

.right {
	width:78%;
	height:800px;
	float:left;
	margin-top: 30px;
	margin-left: 1%;
}
.title{
	margin-left: 2%;
	width: 96%;
	border-bottom: solid #005888 2px;
	height: 30px;

}
.title p {
	font-size: 24px;
	color: #005888;
	line-height: 20px;
}


.container{
	width: 100%;
	height: 80px;
	margin-top: 2%;
	float: left;
}

.progressBar li{
	list-style-type: none;
	float: left;
	width: 25%;
	position: relative;
	text-align: center;
	color: #acacac;
	
}
.progressBar li:before{
	content: " ";
	width: 10px;
	height: 10px;
	border: 2px solid #C4C4C4;
	border-radius: 50%;
	display: block;
	margin: 0 auto 10px auto;
	background-color: #C4C4C4;
}
.progressBar li:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #C4C4C4;
	top: 5px;
	left: -50%;
	z-index: -1;
}
.progressBar li:first-child:after{
	content: none;

}
.progressBar li.active{
	color: #ffbf00;
}
.progressBar li.active:before{
	border-color: #ffbf00;
	background-color: #ffbf00;
}
.progressBar li#active + li:after{
	background-color: #F2C94C;
}


.left_container{
	float: left;
	margin-left: 20%;
	width: 40%;
}
table{
	font-size: 18px;
	width: 95%;

}
td{

}

#img_td{
	width: 150px;
	height: 165px;
}
.img_container{
	float: left;
	width: 105px;
	height: 150px;
	border: 2px solid #C4C4C4;
	margin-left: 5%;
}
.book_img{
	width: 100%;
}
.book_info{
	width: 400px;
}
#book_title{
	font-weight: bold;
	font-size: 22px;
	margin-top: 0px;

}

#sale-book_next{
	font-size: 18px;
	width: 80px;
	height: 38px;

	border: none;
	background-color: #005888;
	color: white;

	position: fixed;
	top: 85%;
	left: 85%;

}

.right_container{
	width: 25%;
	float: left;

	background-color: #F3F7FA;
}

.right_container .subtitle {
	margin-left: 5%;
	font-weight: bold;
}

.buyer_info{
	margin-left: 7%;
	width: 86%;


	background-color: #E5E5E5;
}

.buyer_info p{
	margin-left: 3%;
	margin-bottom: -2%;
}
.name{
	padding-top: 3%;
}
.email{
	padding-bottom: 3%;
}
.note{
	font-size: 14px;
	color: #767070;

	margin-left: 7%;
}

