body {
	background-color: #F8FCFF;
	height: 100%;
    margin: 0px;
}

body a {
	text-decoration: none;
}

.header {
	background-color: #005889;
	color: #F8FCFF;
	height: 48px;
	font-family: Roboto;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	align-items:center;
	box-sizing:border-box;
}

.header a {
	color: #F8FCFF;
}

.header a:visited {
	color: #F8FCFF;
}

.logo {
	margin-left: 5%;
}

.search {
	width: 65%;
	display: flex;
}

.search-bar {
	margin-left:18%;
	padding:5px;
	width:48%;
 }

 .search-btn {
 	padding:4px;
 	width:40px;
 	cursor: pointer;
}

.banner {
	margin-top: 8px;
	width: 98%;
	margin-left: 15px;
}

.publish {
	margin-left: -4%;
	text-align: right;
}

.request {
	margin-left: 2.5%;
	text-align: right;
}

.notification {
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
}

.popover__title {
	padding: 32px 0;
	cursor: pointer;
}

.notification .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -150px;
	transform: translate(0, 10px);
	background-color: #F3F7FA;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 40px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 200px;
}

.notification:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.notification .popover__message {
	color: black;
	text-align: center;
}

.member {
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
}

.member .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -100px;
	transform: translate(0, 10px);
	background-color: #F3F7FA;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 100px;
}

.member:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.member .popover__message {
	color: black;
	text-align: center;
	line-height: 40px;
}

.member a {
	text-decoration: none;
	color: #000000;
}

.member a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.member a:visited{
	color: #000000;
}

.cart {
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
}

.cart .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -250px;
	transform: translate(0, 10px);
	background: #F3F7FA;
	padding-left: 20px;
	padding-top: 60px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 310px;

}

.cart:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.cart .popover__message {
	color: black;
    display: flex;
    flex-direction: column;
}

.cart p {
	font-size: 24px;
	color: #696464;
    position: absolute;
    top: -10px;
    left: 20px;
}

.cart_cell{
	width: 280px;
	height: 140px;
    display: flex;
    font-size: 20px;
    z-index: 20;
    margin-top: 3px;
}

.cart_book {
	width: 140px;
	height: 140px;
	border: 1px solid #ccc;
	float: left;
}

.cart_info {
	float: left;
	margin-left: 5%;
	line-height: 35px;
}

.cart .button {
	background: #C4C4C4;
	width: 127px;
	height: 54px;
	font-size: 24px;
	color: #696464;
	margin-top: 8px;
	margin-left: 160px;
	margin-bottom: 20px;
	border: none;
}

.banner {
    width: 93%;
    margin-top: 30px;
    margin-left: 3%;
}

img {
	margin: 0 auto;
	width: 90%;
	height: 10%;
}

.left {
	width: 8%;
	color: #005889;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 180%;
	float:left;
	margin-top: 50px;
	margin-left: 2%;
}

.left p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
}

.left a {
	text-decoration: none;
	color: #005889;
}

.left a:hover{
	font-weight: bold;
	text-decoration: none;
	color: #005889;
}

.left a:visited{
	color: #005889;
}

.department {
	overflow:scroll;
	overflow-x:hidden;
	height: 200px;
}

.information {
	width: 140%;
}

.information p {
	background: #005889;
	color: #F8FCFF;
	text-align: center;
}

.information a {
	font-size: 16px;
}

.left img {
	width: 180px;
	height: 180px;
}

/* 以下是內容 */

.right {
	width: 82%;
	height:800px;
	float:left;
	margin-top: 30px;
	margin-left: 6%;
}

.right .tablinks {
    float: left;
    cursor: pointer;
    padding: 10px 80px 8px 40px;
    background-color: #F8FCFF;
    color: #005889;
    font-size: 28px;
    border: none;
}

.right .tab {
	float: left;
}

.right .tab button:hover {
	font-weight: bold;
}

.right .tabcontent {
	float: left;
	padding: 0px 1px;
	width: 98%;
	border-left: none;
	display: none;
	padding-bottom: 50px;
}

.table{
	float: left;
	font-size: 18px;
	border-top: 2px solid #005889;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.table-row {
    display: table-row;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 380px;
	height: 200px;
}

.book {
	width: 140px;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-top: 5%;
	float: left;
}

.book_info {
	float: left;
	margin-left:8%;
	line-height: 30px;
	width: 44%;
}

.book_info button {
	background-color: #005889;
	color: #F8FCFF;
}

.book_info a {
	color: #F8FCFF;
}

.book_info a:hover {
	color: #F8FCFF;
}

.book_info a:visited {
	color: #F8FCFF;
}

.book_title {
	font-size: 16px;
	padding-top: 20px;
	color: black;
	display: table-cell;
	vertical-align:middle;
	font-weight: bold;
}

.book_title a {
	color: black;
}

.cart-plus-btn {
	background-color: #C4C4C4;
	width: 60px;
	height: 25px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	margin-top: 5px;
	padding-top: 3px; 
}