html, body {
    height:100%;
}

body{
    background: rgba(118, 112, 112, 0.5);
    background-size: 100%;
    background-repeat: no-repeat;
}
#forget_pwd_frame {
    position: relative; width: 45%; height: 65%;
    margin-top: 10%; margin-left: 30%;
    background-color: #F8FCFF;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
form p > * {
    display: inline-block;
    vertical-align: middle;
}
#text_logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding-top: 5%;
    color: #005889;
}
.text_field {
    font-size: 20px;
    width: 60%;
    height: 30px;
    border: 0;
    background-color: #E5E5E5;
    color: #696464;
}
#send_control {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    position: relative; width: 15%; top: 60px; left: 44%; height: 5%;
    background: #0671AC;
    color: #F8FCFF;
}
#send_control:link{
    color: #F8FCFF;
    text-decoration: none;
}