html, body {
    height: 100%;
}

.outDiv { 
    height: 100%;
}

body{
    background: rgba(118, 112, 112, 0.5);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 8px;
}

button {
    border: none;
    text-decoration: none;
}

#login_frame {
    position: relative; width: 40%; height: 61%;
    margin-top: 20%;
    margin-left: 30%;
    background-color: #F8FCFF;
    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#text_logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding-top: 5%;
    color: #005889;
}

.text_field {
    font-size: 18px;
    width: 60%; height: 30px;
    border: 0;
    background-color: #E5E5E5;
    color: #696464;
}

#signup_control {
    font-size: 20px;
    color: #5A659C;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative; width: 25%; left: 25%; top: 90px;
}

#signup_control:hover {
    color:blue;
}

#login_control {
    position: relative; left: 60%; top: 55px; width: 23%; height: 5%;
}

#login_button {
    background: #0671AC;
    color: #F8FCFF;
    padding: 5%;
    font-size: 20px;
}

#login_button:link {
    display: #F8FCFF;
    text-decoration: none;
}

#login_button:hover {
    display: #F8FCFF;
}

#login_button:visited {
    display: #F8FCFF;
}

#login_button:active {
    display: #F8FCFF;
}

#forget_pwd {
    font-size: 20px;
    color: #5A659C;
    text-decoration: none;
    position: relative; top: 50px; left: -63%; right: 50%;
    float: right;
    text-decoration: underline;
}

#forget_pwd_href:hover {
    color: blue;
}
