body {
	background-color: #F8FCFF;
	height: 100%;
    margin: 0px;
}

.header {
	background-color: #005889;
	color: #F8FCFF;
	height: 48px;
	font-family: Roboto;
	font-size: 24px;
	line-height: 33px;
	display: flex;
	align-items:center;
	box-sizing:border-box;
}

.logo {
	margin-left: 5%;
}

.search {
	width: 65%;
	display: flex;
}

.search-bar {
	margin-left:18%;
	padding:5px;
	width:48%; 
}

.search-btn {
 	padding:4px;
 	width:40px;
 	cursor: pointer;
}

.banner {
	margin-top: 5px;
	width: 98%;
	margin-left: 15px;
}

.publish {
	margin-left: -4%;
	text-align: right;
}

.request {
	margin-left: 2.5%;
	text-align: right;
}

.notification {
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
	text-align: right;
}

.popover__title {
	padding: 32px 0;
	cursor: pointer;
}

.popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -150px;
	transform: translate(0, 10px);
	background-color: white;
	padding: 149px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: auto;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.notification:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
  text-align: center;
  color: black;
}

.member {
	margin-left: 2.5%;
	text-align: right;
}

.cart {
	position: relative;
	display: inline-block;
	margin-left: 2.5%;
	text-align: right;
}

.cart .popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -72px;
	transform: translate(0, 10px);
	background-color: white;
	padding: 68px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: auto;
}

.cart:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.left {
	width: 18%;
	color: #005889;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	float:left;
	margin-top: 50px;
	margin-left: 20px;
    line-height: 180%;
}

.left p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.left a {
	text-decoration: none;
	color: #005889
}

.left a:hover{
	font-weight: bold;
	text-decoration: none;
}

.left a:visited{
	color: #005889;
}

/* 以上是頁面邊框 */

button {
	border: none;
}

button:hover {
	font-weight: bold;
}

a:hover {
	font-weight: bold;
}

.uploadsetting {
	position: absolute; width: 20%; height: 20%; left: 20%; top: 11%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #005888;
    float:left;
}

.table {
	overflow-x: hidden;
	overflow-y: auto;
}

.table1 {
	position: absolute; top: 30%; left: 28%;
	padding: 1%;
	font-size: 20px;
	border-collapse: collapse;
}

.bookname {
	background-color:#E5E5E5;
	text-align: left;
	padding: 3%;
	width: 83%;
}

.edit {
	color: #005889;
	font-family: Roboto;
	text-align: center;
	background-color: #E5E5E5;
	font-size: 20px;
}

.info {
	text-align:center;
	padding: 1%;
}
